body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play-button,
.choose-difficulty {
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 18px;
}

.difficulty-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-content a:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.difficulty-dropdown:hover .dropdown-content {
    display: block;
}

/* specific for hangman-game screen */
#hangman-game {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.guessing {
    width: 20%;

}

.letter-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.letter-buttons button {
    margin: 5px;
    padding: 10px;
    font-size: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.letter-buttons button:hover {
    background-color: #c7c793;

}


/* we can set a button to disabled with javascript once its already selected or guessed and make it red */
.correct-guess {
    background-color: #8bc34a;
}
.wrong-guess {
    background-color: #f44336;
}

.information {
    width: 20%;
}

.column {
    padding: 20px;
    border: 1px solid #ccc;
}