body {
    font-family: 'Arial', sans-serif;
    margin: 20px top;
    padding: 0;
    background-color: #f0f0f0;
	text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body div{
    /* max-width: 600px;
    max-height: 600px;
    left: 45%;
    top: 40%;
    position:absolute; */

    width: 40%;
    height: 40%;
   
    margin:  auto;
    padding: 20px;
    text-align: center;
    background-color:#5acc9c;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(33, 33, 34, 0.808);
}

button {
    padding: 10px 20px;
    background-color: #42af82;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #32946b;
}
header {
    margin-bottom: 20px;
}

